.Rproj.user
.Rhistory
.RData
.Ruserdata
### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*
### macOS ###
*.DS_Store
.env
.bash_history
.jupyter
.sass-cache
content/*.html
### Jupyter book ###
.local
*.pxm/
R/data-converter.R
_site
_build/*/*.Rmd
_build/*/*.py
